.contact {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.65),
      rgba(245, 245, 245, 0.65)
    ),
    url("../../Assets/portfolio-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 2rem;

    padding: 4rem;

    @media (max-width: 1024px) {
      padding: 2rem;
      width: 85%;
    }

    @media (max-width: 1024px) {
      padding: 1rem;
      width: 90%;
    }
  }

  &__label {
    font-weight: 600;
    margin-bottom: 0.8rem;
  }

  &__input {
    font-size: inherit;
    font-weight: 500;
    color: #666;
    width: 80%;
    height: 4rem;
    border: none;
    border-radius: 5px;
    background-color: #ededed;

    padding: 0.8rem;
    margin-bottom: 2rem;

    @media (max-width: 1024px) {
      width: 90%;
    }
  }

  &__textarea {
    font-weight: 500;
    font-size: inherit;
    color: #666;
    width: 80%;
    height: 20rem;
    border: none;
    border-radius: 5px;
    background-color: #ededed;
    margin-bottom: 4rem;
    padding: 0.8rem;

    @media (max-width: 1024px) {
      width: 90%;
    }
  }

  &__btn {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    width: 25rem;
    background-color: $color-main;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 1.4rem 0;
    transition: all 0.25s;

    &:hover {
      cursor: pointer;
    }
  }
}
