.header {
  height: 6.5rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  z-index: 100;

  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  &__link {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    padding: 1.4rem 1rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      border: 1px solid $color-main;
      border-radius: 1000px;
      width: 0%;
      opacity: 0;
      transition: all 0.25s;
    }

    &:hover::before {
      opacity: 1;
      width: 100%;
    }
  }
}
