.pe {
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-margin-top: 4rem;

  // @media (max-width: 500px) {
  //   scroll-margin-top: 0rem;
  // }

  &__proyects {
    margin-bottom: 5rem;

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;

      @media (max-width: 1024px) {
        gap: 2rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
      }

      @media (max-width: 850px) {
        flex-wrap: wrap;
        gap: 3rem;
      }
    }
  }

  &__experience {
    margin-bottom: 5rem;

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;

      @media (max-width: 1024px) {
        gap: 2rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
      }

      @media (max-width: 850px) {
        flex-wrap: wrap;
        gap: 3rem;
      }
    }
  }
}
